In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('../data/it_vacancies_full.csv')
df.head()

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df.nunique()

In [ ]:
df['specialization'].value_counts()

In [ ]:
df = df.dropna(subset=['salary_from', 'salary_to'])
df = df[df['currency'] == 'RUR']
df['salary_avg'] = (df['salary_from'] + df['salary_to']) / 2

In [ ]:
plt.figure(figsize=(10,5))
sns.histplot(df['salary_avg'], bins=40, kde=True)
plt.grid(True)
plt.show()

In [ ]:
df.to_csv('../data/clean_it_vacancies.csv', index=False)