In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('../data/it_vacancies_full.csv')
df.head()

In [ ]:
df.info()

In [ ]:
print('Пропуски:')
print(df.isnull().sum())

In [ ]:
print('Уникальные значения:')
print(df.nunique())

In [ ]:
print('Распределение по специализациям:')
print(df['specialization'].value_counts())

In [ ]:
df = df.dropna(subset=['salary_from', 'salary_to'])
df = df[df['currency'] == 'RUR']
df['salary_avg'] = (df['salary_from'] + df['salary_to']) / 2

In [ ]:
plt.figure(figsize=(10,5))
sns.histplot(df['salary_avg'], bins=40, kde=True)
plt.title('Распределение зарплат')
plt.grid(True)
plt.show()

In [ ]:
print('Выбросы (зарплаты > 1 млн):')
print(df[df['salary_avg'] > 1_000_000])

In [ ]:
df.to_csv('../data/clean_it_vacancies.csv', index=False)